NODE RED Flow/Machine Learning Prediction Tab flow.json
[{"id":"6a795cea.764054","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4e3cab71.17c9c4","type":"http request","z":"6a795cea.764054","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":170,"y":180,"wires":[["26b7aa12.f2f706"]]},{"id":"26b7aa12.f2f706","type":"function","z":"6a795cea.764054","name":"Pre Prediction","func":"var week = global.get('week')\nvar center_id = global.get('center_id')\nvar meal_id = global.get('meal_id')\nvar checkout_price = global.get('checkout_price')\nvar base_price = global.get('base_price')\nvar emailer_for_promotion = global.get('emailer_for_promotion')\nvar homepage_featured = global.get('homepage_featured')\nvar token=msg.payload.access_token\nvar instance_id=\"558578fd-4fc2-414c-b318-8b0bd1663bab\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"week\", \"center_id\", \"meal_id\", \"checkout_price\", \"base_price\", \"emailer_for_promotion\", \"homepage_featured\"], \"values\": [[week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured]]}]}\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":340,"y":180,"wires":[["a64edf9d.e5868"]]},{"id":"a64edf9d.e5868","type":"http request","z":"6a795cea.764054","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/3909473a-2ef2-4122-935c-5a23a02fbfe4/predictions","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":180,"wires":[["33f22566.e22f4a"]]},{"id":"33f22566.e22f4a","type":"function","z":"6a795cea.764054","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nglobal.set(\"output\",msg.payload)\nreturn msg;\n","outputs":1,"noerr":0,"x":690,"y":180,"wires":[["5dbc15a9.11e64c","fe99bb8b.22afa8"]]},{"id":"f7cb44c4.f81e88","type":"ui_form","z":"6a795cea.764054","name":"","label":"","group":"60f95327.16f4fc","order":2,"width":0,"height":0,"options":[{"label":"week","value":"W","type":"number","required":true,"rows":null},{"label":"center_id","value":"CI","type":"number","required":true,"rows":null},{"label":"meal_id","value":"MI","type":"number","required":true,"rows":null},{"label":"checkout_price","value":"COP","type":"number","required":true,"rows":null},{"label":"base_price","value":"BP","type":"number","required":true,"rows":null},{"label":"emailer_for_promotion","value":"EFP","type":"number","required":true,"rows":null},{"label":"homepage_featured","value":"HF","type":"number","required":true,"rows":null}],"formValue":{"W":"","CI":"","MI":"","COP":"","BP":"","EFP":"","HF":""},"payload":"","submit":"Submit","cancel":"Reset","topic":"","x":50,"y":380,"wires":[["10446fa9.ea93e"]]},{"id":"10446fa9.ea93e","type":"function","z":"6a795cea.764054","name":"","func":"global.set(\"week\",msg.payload.W)\nglobal.set(\"center_id\",msg.payload.CI)\nglobal.set(\"meal_id\",msg.payload.MI)\nglobal.set(\"checkout_price\",msg.payload.COP)\nglobal.set(\"base_price\",msg.payload.BP)\nglobal.set(\"emailer_for_promotion\",msg.payload.EFP)\nglobal.set(\"homepage_featured\",msg.payload.HF)\nvar apikey=\"ihHarWr9g6VxZaOnQwHqSAX0xupu431GXPBs6J0kFyLR\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":70,"y":300,"wires":[["4e3cab71.17c9c4","b85256c2.c71568","d7823bb2.9fcef8","84d96dd6.8d958","482fc0b6.5777b","eea8f261.8dab9","34082d25.ea90e2","4407173e.0b4328","859caf1.a53825","ef3e9746.d19aa8","9639778b.2dd748"]]},{"id":"ed1a1a43.bf5178","type":"function","z":"6a795cea.764054","name":"Pre Prediction + 4","func":"var week = global.get('week')\nvar center_id = global.get('center_id')\nvar meal_id = global.get('meal_id')\nvar checkout_price = global.get('checkout_price')\nvar base_price = global.get('base_price')\nvar emailer_for_promotion = global.get('emailer_for_promotion')\nvar homepage_featured = global.get('homepage_featured')\nvar token=msg.payload.access_token\nvar instance_id=\"558578fd-4fc2-414c-b318-8b0bd1663bab\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"week\", \"center_id\", \"meal_id\", \"checkout_price\", \"base_price\", \"emailer_for_promotion\", \"homepage_featured\"], \"values\": [[(week+4),center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured]]}]}\nreturn msg;\n","outputs":1,"noerr":0,"x":350,"y":260,"wires":[["82781d68.51fb2"]]},{"id":"82781d68.51fb2","type":"http request","z":"6a795cea.764054","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/3909473a-2ef2-4122-935c-5a23a02fbfe4/predictions","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":260,"wires":[["d16f6784.c088a8"]]},{"id":"6a0f120b.70365c","type":"function","z":"6a795cea.764054","name":"Pre Prediction + 1","func":"var week = global.get('week')\nvar center_id = global.get('center_id')\nvar meal_id = global.get('meal_id')\nvar checkout_price = global.get('checkout_price')\nvar base_price = global.get('base_price')\nvar emailer_for_promotion = global.get('emailer_for_promotion')\nvar homepage_featured = global.get('homepage_featured')\nvar token=msg.payload.access_token\nvar instance_id=\"558578fd-4fc2-414c-b318-8b0bd1663bab\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"week\", \"center_id\", \"meal_id\", \"checkout_price\", \"base_price\", \"emailer_for_promotion\", \"homepage_featured\"], \"values\": [[(week+1),center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured]]}]}\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":350,"y":340,"wires":[["674b511f.11095"]]},{"id":"674b511f.11095","type":"http request","z":"6a795cea.764054","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/3909473a-2ef2-4122-935c-5a23a02fbfe4/predictions","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":340,"wires":[["57fe8cb6.1d93a4"]]},{"id":"57fe8cb6.1d93a4","type":"function","z":"6a795cea.764054","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nglobal.set(\"output\",msg.payload)\nreturn msg;\n","outputs":1,"noerr":0,"x":690,"y":340,"wires":[["df531ef9.0e6fc","d44efbeb.344d98"]]},{"id":"ae7e63ac.efbc","type":"function","z":"6a795cea.764054","name":"Pre Prediction + 2","func":"var week = global.get('week')\nvar center_id = global.get('center_id')\nvar meal_id = global.get('meal_id')\nvar checkout_price = global.get('checkout_price')\nvar base_price = global.get('base_price')\nvar emailer_for_promotion = global.get('emailer_for_promotion')\nvar homepage_featured = global.get('homepage_featured')\nvar token=msg.payload.access_token\nvar instance_id=\"558578fd-4fc2-414c-b318-8b0bd1663bab\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"week\", \"center_id\", \"meal_id\", \"checkout_price\", \"base_price\", \"emailer_for_promotion\", \"homepage_featured\"], \"values\": [[(week+2),center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured]]}]}\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":350,"y":420,"wires":[["9aae5b2a.754428"]]},{"id":"9aae5b2a.754428","type":"http request","z":"6a795cea.764054","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/3909473a-2ef2-4122-935c-5a23a02fbfe4/predictions","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":419,"wires":[["7d503b10.babb74"]]},{"id":"7d503b10.babb74","type":"function","z":"6a795cea.764054","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nglobal.set(\"output\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":420,"wires":[["7f20fae8.fb1384","2722b519.72a0aa"]]},{"id":"73da0b6c.cd3e14","type":"function","z":"6a795cea.764054","name":"Pre Prediction + 3","func":"var week = global.get('week')\nvar center_id = global.get('center_id')\nvar meal_id = global.get('meal_id')\nvar checkout_price = global.get('checkout_price')\nvar base_price = global.get('base_price')\nvar emailer_for_promotion = global.get('emailer_for_promotion')\nvar homepage_featured = global.get('homepage_featured')\nvar token=msg.payload.access_token\nvar instance_id=\"558578fd-4fc2-414c-b318-8b0bd1663bab\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"week\", \"center_id\", \"meal_id\", \"checkout_price\", \"base_price\", \"emailer_for_promotion\", \"homepage_featured\"], \"values\": [[(week+3),center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured]]}]}\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":350,"y":500,"wires":[["34edee00.05cd22"]]},{"id":"34edee00.05cd22","type":"http request","z":"6a795cea.764054","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/3909473a-2ef2-4122-935c-5a23a02fbfe4/predictions","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":500,"wires":[["623ca84a.b49de8"]]},{"id":"623ca84a.b49de8","type":"function","z":"6a795cea.764054","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nglobal.set(\"output\",msg.payload)\nreturn msg;\n","outputs":1,"noerr":0,"x":690,"y":500,"wires":[["f68b0af.c63def8","8bdb1147.96269"]]},{"id":"d16f6784.c088a8","type":"function","z":"6a795cea.764054","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nglobal.set(\"output\",msg.payload)\nreturn msg;\n","outputs":1,"noerr":0,"x":690,"y":260,"wires":[["c7153687.8694e8","dbaa972e.ed82d8"]]},{"id":"8dd9215.3c3ade","type":"function","z":"6a795cea.764054","name":"Pre Prediction + 5 ","func":"var week = global.get('week')\nvar center_id = global.get('center_id')\nvar meal_id = global.get('meal_id')\nvar checkout_price = global.get('checkout_price')\nvar base_price = global.get('base_price')\nvar emailer_for_promotion = global.get('emailer_for_promotion')\nvar homepage_featured = global.get('homepage_featured')\nvar token=msg.payload.access_token\nvar instance_id=\"558578fd-4fc2-414c-b318-8b0bd1663bab\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"week\", \"center_id\", \"meal_id\", \"checkout_price\", \"base_price\", \"emailer_for_promotion\", \"homepage_featured\"], \"values\": [[(week+5),center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured]]}]}\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":350,"y":580,"wires":[["31e119d6.275be6"]]},{"id":"31e119d6.275be6","type":"http request","z":"6a795cea.764054","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/3909473a-2ef2-4122-935c-5a23a02fbfe4/predictions","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":580,"wires":[["372c321c.ea1e5e"]]},{"id":"372c321c.ea1e5e","type":"function","z":"6a795cea.764054","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nglobal.set(\"output\",msg.payload)\nreturn msg;\n","outputs":1,"noerr":0,"x":690,"y":580,"wires":[["4fd88ea7.7e6a3","1b6b1d1f.173253"]]},{"id":"abfb9291.c6dde","type":"function","z":"6a795cea.764054","name":"Pre Prediction + 6","func":"var week = global.get('week')\nvar center_id = global.get('center_id')\nvar meal_id = global.get('meal_id')\nvar checkout_price = global.get('checkout_price')\nvar base_price = global.get('base_price')\nvar emailer_for_promotion = global.get('emailer_for_promotion')\nvar homepage_featured = global.get('homepage_featured')\nvar token=msg.payload.access_token\nvar instance_id=\"558578fd-4fc2-414c-b318-8b0bd1663bab\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"week\", \"center_id\", \"meal_id\", \"checkout_price\", \"base_price\", \"emailer_for_promotion\", \"homepage_featured\"], \"values\": [[(week+6),center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured]]}]}\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":350,"y":660,"wires":[["69442e2e.3939c"]]},{"id":"69442e2e.3939c","type":"http request","z":"6a795cea.764054","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/3909473a-2ef2-4122-935c-5a23a02fbfe4/predictions","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":660,"wires":[["d3f0b422.cae2f8"]]},{"id":"d3f0b422.cae2f8","type":"function","z":"6a795cea.764054","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nglobal.set(\"output\",msg.payload)\nreturn msg;\n","outputs":1,"noerr":0,"x":690,"y":660,"wires":[["64be4c60.b72cb4","d4bdff56.fc65b"]]},{"id":"cd6ae1e7.a43d9","type":"function","z":"6a795cea.764054","name":"Pre Prediction + 7","func":"var week = global.get('week')\nvar center_id = global.get('center_id')\nvar meal_id = global.get('meal_id')\nvar checkout_price = global.get('checkout_price')\nvar base_price = global.get('base_price')\nvar emailer_for_promotion = global.get('emailer_for_promotion')\nvar homepage_featured = global.get('homepage_featured')\nvar token=msg.payload.access_token\nvar instance_id=\"558578fd-4fc2-414c-b318-8b0bd1663bab\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"week\", \"center_id\", \"meal_id\", \"checkout_price\", \"base_price\", \"emailer_for_promotion\", \"homepage_featured\"], \"values\": [[(week+7),center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured]]}]}\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":350,"y":740,"wires":[["8ca9e95a.366218"]]},{"id":"8ca9e95a.366218","type":"http request","z":"6a795cea.764054","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/3909473a-2ef2-4122-935c-5a23a02fbfe4/predictions","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":740,"wires":[["74f4186a.f96c08"]]},{"id":"74f4186a.f96c08","type":"function","z":"6a795cea.764054","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nglobal.set(\"output\",msg.payload)\nreturn msg;\n","outputs":1,"noerr":0,"x":690,"y":740,"wires":[["caf4e56d.08b3e8","a820f030.9e157"]]},{"id":"32429776.b4a448","type":"function","z":"6a795cea.764054","name":"Pre Prediction + 8","func":"var week = global.get('week')\nvar center_id = global.get('center_id')\nvar meal_id = global.get('meal_id')\nvar checkout_price = global.get('checkout_price')\nvar base_price = global.get('base_price')\nvar emailer_for_promotion = global.get('emailer_for_promotion')\nvar homepage_featured = global.get('homepage_featured')\nvar token=msg.payload.access_token\nvar instance_id=\"558578fd-4fc2-414c-b318-8b0bd1663bab\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"week\", \"center_id\", \"meal_id\", \"checkout_price\", \"base_price\", \"emailer_for_promotion\", \"homepage_featured\"], \"values\": [[(week+8),center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured]]}]}\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":350,"y":820,"wires":[["e074805d.071bd"]]},{"id":"e074805d.071bd","type":"http request","z":"6a795cea.764054","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/3909473a-2ef2-4122-935c-5a23a02fbfe4/predictions","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":820,"wires":[["39acd7d7.fba6d8"]]},{"id":"39acd7d7.fba6d8","type":"function","z":"6a795cea.764054","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nglobal.set(\"output\",msg.payload)\nreturn msg;\n","outputs":1,"noerr":0,"x":690,"y":820,"wires":[["7e719a4.fcda664","1f11f6fc.6c93f9"]]},{"id":"b99fccba.ddc6a","type":"function","z":"6a795cea.764054","name":"Pre Prediction + 9","func":"var week = global.get('week')\nvar center_id = global.get('center_id')\nvar meal_id = global.get('meal_id')\nvar checkout_price = global.get('checkout_price')\nvar base_price = global.get('base_price')\nvar emailer_for_promotion = global.get('emailer_for_promotion')\nvar homepage_featured = global.get('homepage_featured')\nvar token=msg.payload.access_token\nvar instance_id=\"558578fd-4fc2-414c-b318-8b0bd1663bab\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"week\", \"center_id\", \"meal_id\", \"checkout_price\", \"base_price\", \"emailer_for_promotion\", \"homepage_featured\"], \"values\": [[(week+9),center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured]]}]}\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":350,"y":900,"wires":[["308834a9.ad984c"]]},{"id":"308834a9.ad984c","type":"http request","z":"6a795cea.764054","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/3909473a-2ef2-4122-935c-5a23a02fbfe4/predictions","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":900,"wires":[["805f7c13.11218"]]},{"id":"805f7c13.11218","type":"function","z":"6a795cea.764054","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nglobal.set(\"output\",msg.payload)\nreturn msg;\n","outputs":1,"noerr":0,"x":690,"y":900,"wires":[["ac19bb6a.3296d8","e03c7e97.a4d69"]]},{"id":"680d8377.e8fd3c","type":"function","z":"6a795cea.764054","name":"Pre Prediction + 10","func":"var week = global.get('week')\nvar center_id = global.get('center_id')\nvar meal_id = global.get('meal_id')\nvar checkout_price = global.get('checkout_price')\nvar base_price = global.get('base_price')\nvar emailer_for_promotion = global.get('emailer_for_promotion')\nvar homepage_featured = global.get('homepage_featured')\nvar token=msg.payload.access_token\nvar instance_id=\"558578fd-4fc2-414c-b318-8b0bd1663bab\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"week\", \"center_id\", \"meal_id\", \"checkout_price\", \"base_price\", \"emailer_for_promotion\", \"homepage_featured\"], \"values\": [[(week+10),center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured]]}]}\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":350,"y":980,"wires":[["940bef60.64b82"]]},{"id":"940bef60.64b82","type":"http request","z":"6a795cea.764054","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/3909473a-2ef2-4122-935c-5a23a02fbfe4/predictions","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":980,"wires":[["6f864b27.912c04"]]},{"id":"6f864b27.912c04","type":"function","z":"6a795cea.764054","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nglobal.set(\"output\",msg.payload)\nreturn msg;\n","outputs":1,"noerr":0,"x":690,"y":980,"wires":[["6fbee5a0.4da5ac","59fcedc2.34da24"]]},{"id":"b85256c2.c71568","type":"http request","z":"6a795cea.764054","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":170,"y":260,"wires":[["ed1a1a43.bf5178"]]},{"id":"d7823bb2.9fcef8","type":"http request","z":"6a795cea.764054","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":170,"y":340,"wires":[["6a0f120b.70365c"]]},{"id":"84d96dd6.8d958","type":"http request","z":"6a795cea.764054","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":166,"y":423,"wires":[["ae7e63ac.efbc"]]},{"id":"9639778b.2dd748","type":"http request","z":"6a795cea.764054","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":170,"y":500,"wires":[["73da0b6c.cd3e14"]]},{"id":"482fc0b6.5777b","type":"http request","z":"6a795cea.764054","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":170,"y":580,"wires":[["8dd9215.3c3ade"]]},{"id":"eea8f261.8dab9","type":"http request","z":"6a795cea.764054","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":170,"y":660,"wires":[["abfb9291.c6dde"]]},{"id":"34082d25.ea90e2","type":"http request","z":"6a795cea.764054","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":170,"y":740,"wires":[["cd6ae1e7.a43d9"]]},{"id":"4407173e.0b4328","type":"http request","z":"6a795cea.764054","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":170,"y":820,"wires":[["32429776.b4a448"]]},{"id":"859caf1.a53825","type":"http request","z":"6a795cea.764054","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":170,"y":900,"wires":[["b99fccba.ddc6a"]]},{"id":"ef3e9746.d19aa8","type":"http request","z":"6a795cea.764054","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":170,"y":980,"wires":[["680d8377.e8fd3c"]]},{"id":"66b51704.3dbd58","type":"comment","z":"6a795cea.764054","name":"Main flow for Machine Learning Model and prediction tab.","info":"","x":290,"y":100,"wires":[]},{"id":"5dbc15a9.11e64c","type":"ui_text","z":"6a795cea.764054","group":"60f95327.16f4fc","order":1,"width":6,"height":2,"name":"","label":"Prediction for given week:","format":"{{msg.payload}}","layout":"col-center","x":1130,"y":160,"wires":[]},{"id":"fe99bb8b.22afa8","type":"debug","z":"6a795cea.764054","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1090,"y":200,"wires":[]},{"id":"df531ef9.0e6fc","type":"ui_text","z":"6a795cea.764054","group":"e97f5a2b.8422e8","order":1,"width":0,"height":0,"name":"","label":"Prediction for given (week+1):","format":"{{msg.payload}}","layout":"row-spread","x":1150,"y":320,"wires":[]},{"id":"d44efbeb.344d98","type":"debug","z":"6a795cea.764054","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1090,"y":360,"wires":[]},{"id":"7f20fae8.fb1384","type":"ui_text","z":"6a795cea.764054","group":"e97f5a2b.8422e8","order":2,"width":0,"height":0,"name":"","label":"Prediction for given (week+2):","format":"{{msg.payload}}","layout":"row-spread","x":1150,"y":400,"wires":[]},{"id":"2722b519.72a0aa","type":"debug","z":"6a795cea.764054","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":440,"wires":[]},{"id":"f68b0af.c63def8","type":"ui_text","z":"6a795cea.764054","group":"e97f5a2b.8422e8","order":3,"width":0,"height":0,"name":"","label":"Prediction for given (week+3):","format":"{{msg.payload}}","layout":"row-spread","x":1150,"y":480,"wires":[]},{"id":"8bdb1147.96269","type":"debug","z":"6a795cea.764054","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":520,"wires":[]},{"id":"c7153687.8694e8","type":"ui_text","z":"6a795cea.764054","group":"e97f5a2b.8422e8","order":4,"width":0,"height":0,"name":"","label":"Prediction for given (week+4):","format":"{{msg.payload}}","layout":"row-spread","x":1150,"y":240,"wires":[]},{"id":"dbaa972e.ed82d8","type":"debug","z":"6a795cea.764054","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1090,"y":280,"wires":[]},{"id":"4fd88ea7.7e6a3","type":"ui_text","z":"6a795cea.764054","group":"e97f5a2b.8422e8","order":5,"width":0,"height":0,"name":"","label":"Prediction for given (week+5):","format":"{{msg.payload}}","layout":"row-spread","x":1150,"y":560,"wires":[]},{"id":"1b6b1d1f.173253","type":"debug","z":"6a795cea.764054","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":600,"wires":[]},{"id":"64be4c60.b72cb4","type":"ui_text","z":"6a795cea.764054","group":"e97f5a2b.8422e8","order":6,"width":0,"height":0,"name":"","label":"Prediction for given (week+6):","format":"{{msg.payload}}","layout":"row-spread","x":1150,"y":640,"wires":[]},{"id":"d4bdff56.fc65b","type":"debug","z":"6a795cea.764054","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":680,"wires":[]},{"id":"a820f030.9e157","type":"ui_text","z":"6a795cea.764054","group":"e97f5a2b.8422e8","order":7,"width":0,"height":0,"name":"","label":"Prediction for given (week+7):","format":"{{msg.payload}}","layout":"row-spread","x":1150,"y":720,"wires":[]},{"id":"caf4e56d.08b3e8","type":"debug","z":"6a795cea.764054","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":760,"wires":[]},{"id":"1f11f6fc.6c93f9","type":"ui_text","z":"6a795cea.764054","group":"e97f5a2b.8422e8","order":8,"width":0,"height":0,"name":"","label":"Prediction for given (week+8):","format":"{{msg.payload}}","layout":"row-spread","x":1150,"y":800,"wires":[]},{"id":"7e719a4.fcda664","type":"debug","z":"6a795cea.764054","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":840,"wires":[]},{"id":"ac19bb6a.3296d8","type":"ui_text","z":"6a795cea.764054","group":"e97f5a2b.8422e8","order":9,"width":0,"height":0,"name":"","label":"Prediction for given (week+9):","format":"{{msg.payload}}","layout":"row-spread","x":1150,"y":880,"wires":[]},{"id":"e03c7e97.a4d69","type":"debug","z":"6a795cea.764054","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":920,"wires":[]},{"id":"6fbee5a0.4da5ac","type":"ui_text","z":"6a795cea.764054","group":"e97f5a2b.8422e8","order":10,"width":0,"height":0,"name":"","label":"Prediction for given (week+10):","format":"{{msg.payload}}","layout":"row-spread","x":1150,"y":960,"wires":[]},{"id":"59fcedc2.34da24","type":"debug","z":"6a795cea.764054","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":1000,"wires":[]},{"id":"60f95327.16f4fc","type":"ui_group","z":"","name":"Order Numbers:","tab":"8cee228d.c1fbc","order":1,"disp":true,"width":"6","collapse":true},{"id":"e97f5a2b.8422e8","type":"ui_group","z":"","name":"Important info:","tab":"8cee228d.c1fbc","order":2,"disp":true,"width":"6","collapse":false},{"id":"8cee228d.c1fbc","type":"ui_tab","z":"","name":"Predictions","icon":"dashboard","order":3,"disabled":false,"hidden":false}]