NODE RED Flow/The Czar bot flow.json
[{"id":"6a795cea.764054","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5e33177d.55f8b8","type":"watson-conversation-v1","z":"6a795cea.764054","name":"The Czar Bot","workspaceid":"25d71f72-f427-49dc-ada0-11bd52bdf73f","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/add67e37-dbfe-438e-a76f-8f84bef9a6c1","timeout":"","optout-learning":false,"x":370,"y":240,"wires":[["70a2368b.3e6f78","4380b70e.bb4ec8","12d8e044.e217a","e6c36c1a.416a6","e274bf01.6aa6f","78d785fe.2de94c","4bdd66d0.4272b8"]]},{"id":"f53c5382.f6c7f","type":"inject","z":"6a795cea.764054","name":"","topic":"","payload":"pause","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"600","x":130,"y":160,"wires":[["5e33177d.55f8b8"]]},{"id":"443a5ddf.265ed4","type":"ui_form","z":"6a795cea.764054","name":"","label":"","group":"579ab444.648e1c","order":7,"width":11,"height":2,"options":[{"label":"Enter your input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"reset","topic":"","x":130,"y":280,"wires":[["80282062.dcc53"]]},{"id":"80282062.dcc53","type":"function","z":"6a795cea.764054","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":226,"wires":[["5e33177d.55f8b8"]]},{"id":"b5dd84e3.e95958","type":"ui_audio","z":"6a795cea.764054","name":"","group":"579ab444.648e1c","voice":"en-US","always":"","x":520,"y":106,"wires":[]},{"id":"70a2368b.3e6f78","type":"function","z":"6a795cea.764054","name":"Title","func":"msg.payload = msg.payload.output.generic[0].title\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":166,"wires":[["b5dd84e3.e95958","5cc2efbb.8942c"]]},{"id":"4380b70e.bb4ec8","type":"function","z":"6a795cea.764054","name":"text","func":"msg.payload = msg.payload.output.generic[0].text\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":246,"wires":[["b75bc5cc.501888","555c29dc.a02b08"]]},{"id":"12d8e044.e217a","type":"function","z":"6a795cea.764054","name":"label1","func":"msg.payload = msg.payload.output.generic[0].options[0].label\nreturn msg;\n","outputs":1,"noerr":0,"x":530,"y":326,"wires":[["b715e08b.9b15c","f4a75dff.48b"]]},{"id":"b75bc5cc.501888","type":"ui_template","z":"6a795cea.764054","group":"579ab444.648e1c","name":"text","order":2,"width":11,"height":3,"format":"<div ng-bind-html=\"msg.payload\" height=\"200\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":690,"y":246,"wires":[[]]},{"id":"5cc2efbb.8942c","type":"ui_template","z":"6a795cea.764054","group":"579ab444.648e1c","name":"title","order":1,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":670,"y":166,"wires":[[]]},{"id":"b715e08b.9b15c","type":"ui_template","z":"6a795cea.764054","group":"579ab444.648e1c","name":"l1","order":4,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":670,"y":326,"wires":[[]]},{"id":"e6c36c1a.416a6","type":"function","z":"6a795cea.764054","name":"label2","func":"msg.payload = msg.payload.output.generic[0].options[1].label\nreturn msg;\n","outputs":1,"noerr":0,"x":530,"y":406,"wires":[["5e65da20.0896d4","96755e6f.867fb"]]},{"id":"5e65da20.0896d4","type":"ui_template","z":"6a795cea.764054","group":"579ab444.648e1c","name":"l2","order":5,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":670,"y":406,"wires":[[]]},{"id":"555c29dc.a02b08","type":"ui_audio","z":"6a795cea.764054","name":"","group":"579ab444.648e1c","voice":"en-US","always":"","x":540,"y":206,"wires":[]},{"id":"f4a75dff.48b","type":"ui_audio","z":"6a795cea.764054","name":"","group":"579ab444.648e1c","voice":"en-US","always":"","x":540,"y":286,"wires":[]},{"id":"96755e6f.867fb","type":"ui_audio","z":"6a795cea.764054","name":"","group":"579ab444.648e1c","voice":"en-US","always":"","x":540,"y":366,"wires":[]},{"id":"e274bf01.6aa6f","type":"function","z":"6a795cea.764054","name":"label3","func":"msg.payload = msg.payload.output.generic[0].options[2].label\nreturn msg;\n","outputs":1,"noerr":0,"x":530,"y":486,"wires":[["406b6e69.94ff","c66fc8c9.1a21a8"]]},{"id":"406b6e69.94ff","type":"ui_template","z":"6a795cea.764054","group":"579ab444.648e1c","name":"l3","order":6,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":670,"y":466,"wires":[[]]},{"id":"c66fc8c9.1a21a8","type":"ui_audio","z":"6a795cea.764054","name":"","group":"579ab444.648e1c","voice":"en-US","always":"","x":540,"y":446,"wires":[]},{"id":"78d785fe.2de94c","type":"function","z":"6a795cea.764054","name":"Description","func":"msg.payload = msg.payload.output.generic[0].description\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":346,"wires":[["5de257c7.56a908","3c914234.0c73be"]]},{"id":"5de257c7.56a908","type":"ui_audio","z":"6a795cea.764054","name":"","group":"579ab444.648e1c","voice":"en-US","always":"","x":380,"y":306,"wires":[]},{"id":"3c914234.0c73be","type":"ui_template","z":"6a795cea.764054","group":"579ab444.648e1c","name":"Description","order":3,"width":11,"height":3,"format":"<div ng-bind-html=\"msg.payload\" height=\"200\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":390,"y":406,"wires":[[]]},{"id":"108b1ae4.dff425","type":"inject","z":"6a795cea.764054","name":"","topic":"","payload":"welcome","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"75","x":140,"y":120,"wires":[["5e33177d.55f8b8"]]},{"id":"4bdd66d0.4272b8","type":"debug","z":"6a795cea.764054","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":360,"y":160,"wires":[]},{"id":"579ab444.648e1c","type":"ui_group","z":"","name":"The Czar Bot","tab":"8036d42b.8e6238","order":1,"disp":true,"width":11,"collapse":false},{"id":"8036d42b.8e6238","type":"ui_tab","z":"","name":"Assistance","icon":"dashboard","order":2,"disabled":false,"hidden":false}]